/**/
body {

}

.dh_nav > ul > li > a {
  //font-size: 18px!important;
  //padding: 0 45px!important;
}

.dh_nav > ul > li > a.navHome {
  // padding-left: 20px!important;
}

/* buuug7  start */

.ysBox {
  height: 404px;
}

.mainContent {
  background: none;
}

.wrap {
  background: url("../images/maincontent.png") repeat center top;
}

.margin-top-15 {
  margin-top: 15px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

$base_title_height: 42px;
$base_bg: #fff;

.b7-in {
  border: 1px solid #ddd;
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  //background: #fff;
  margin-bottom: 15px;
  background: #fff;

  ul.hd {

    display: block;
    //height: $base_title_height;
    // line-height: $base_title_height;
    //border-bottom:1px solid darken(#eee,5%);
    // background: url("../../../dist/images/tit_bg.gif");
    //position: relative;
    // border-left: none;
    border-bottom: 1px solid #ddd;

    li {
      float: left;
      width: 246px;
      background: #fff;
      text-align: center;
      font-size: 18px;
      color: #9d9d9d;
      cursor: pointer;
      padding: 20px 0;
      margin-left: 5px;

    }
    li:first-child {
      margin-left: 120px;
    }
    li.on {
      //border-bottom: 2px solid #008CE1;
      a {
        color: #008CE1;
      }
    }

    li a {
      font-weight: bold;
      font-size: 16px;
      text-decoration: none;
      //color: $base_title_font_color;
    }
  }

  .bd {
    //height: 263px;
    border-top: none;
    overflow: hidden;
    padding: 30px 50px;
    box-sizing: border-box;
    ul li {
      float: left;
      width: 50%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    ul li .icon {
      width: 80px;
      height: 80px;
      float: left;
      font-size: 80px;
      padding-right: 10px;

    }

    ul li .desc {
      overflow: hidden;
      display: table;
      height: 88px;
      padding-left: 10px;
      padding-right: 20px;
      h4 {
        font-size: 16px;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        color: #999;
      }
    }
  }

}

/* buuug7 end */

/*YANJF start*/
.header {
  .hd_cont {
    .hd_logo h2 {
      color: red;
    }
    .dh_phone dt{
      color: rgba(227,108,9,1);

    }
  }
}
.footer{
  .fotPhone{
    dd{
      color: #ffffff;
    }
  }
}


// yewuzixun
.age_li_about {
  margin: 0 30px;
  padding-top: 80px;
  .nmggs {
    margin-bottom: 30px;
    .nmggs-left {
      float: left;
    }
  }
  .nmgds {
    padding-top: 30px;
    .nmgds-left {
      float: left;
    }

  }

  button {
    background: transparent;
    margin: 10px 20px;
    padding: 15px 20px;
    font-size: 25px;
    width: 400px;
    cursor:pointer!important;

  }
  button:hover{
    background-color:#DD3904;
    color: #ffffff;
  }
}

/*YANJF end*/